.App {
	text-align: center;
}

.title {
	font-size: 30pt;
	text-align: center;
	font-weight: bold;
	padding: 2px;
	background-color: #858AE3;
}

.frame {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 220px;
}

.container-small {
	margin: 2em 1em;
	width: 35%;
	display: flex;
	justify-content: center;
	height: 100px;
}

.card {
	border-radius: 2em;
	padding: 1em 1em;
	background-color: #d1d8e2;
}

.controller {
	background: #555;
	margin: 0 1em;
	border: 1px solid;
	height: 3em;
	width: 3em;
	border-radius: 100%;
	background: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-buttons {
	height: 4em;
	width: 15em;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
  	border-radius: 20px;
}

.control-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flashing {
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(32, 194, 14);
	animation: blinker 2s linear infinite;
}
  
@keyframes blinker {
	50% {
		opacity: 0;
	}
}