.App {
	text-align: center;
}

.header {
	margin: 0;
	background-color: #aeb1eb;
	box-shadow: 5px 5px 5px rgb(105, 105, 105);
}

.title {
	font-size: 30pt;
	text-align: center;
	font-weight: bold;
}

.instructions {
	text-align: center;
}

.horiz {
	width: 80%;
}

.frame {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 220px;
	box-shadow: 6px 4px 4px #1e71e7;
}

.container-small {
	width: 35%;
	display: flex;
	justify-content: center;
	padding: 0;
}

.card {
	border-radius: 2em;
	padding: 1em 1em;
	background-color: #eeeeee;
}

.controller {
	margin: 0 1em;
	border: 1px solid;
	height: 3em;
	width: 3em;
	border-radius: 100%;
	background: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-buttons {
	height: 4em;
	width: 15em;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
  	border-radius: 20px;
}

.control-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.complexity {
	display: flex;
	background-color: #9093de;
	text-align: center;
	margin: 1.5em;
	padding: 0.5em;
	border-radius: 5px;
}

.panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flashing {
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(32, 194, 14);
	animation: blinker 2s linear infinite;
}
  
@keyframes blinker {
	50% {
		opacity: 0;
	}
}